<div class="header-wrapper">
    <div class="header d-flex justify-content-between align-items-center w-100">
        <img src="../../assets/images/logo.jpeg" width="80" alt="">
        <div class="d-flex gap-3 me-3">
            <label class="header-menu" for="">Home</label>
            <label class="header-menu" for="">Services</label>
            <label class="header-menu" for="">Meet The DJ</label>
            <label class="header-menu" for="">Music</label>
            <label class="header-menu" for="">Our Mission</label>
            <label class="header-menu" for="">Contact Us</label>
        </div>
    </div>
</div>