<div class="header-wrapper">
    <div class="header d-flex justify-content-between align-items-center w-100">
        <img src="../../assets/images/logo.jpeg"  width="80" alt="">
        <div class="header-list d-flex gap-3 me-3">
            <a class="header-menu"routerLink="/home">Home</a>
            <a class="header-menu" routerLink="/services">Services</a>
            <a class="header-menu" routerLink="/meet-the-dj">Meet The DJ</a>
            <a class="header-menu" routerLink="/music">Music</a>
            <a class="header-menu" routerLink="/contact-us">Contact Us</a>
        </div>
    </div>
</div>