<div class="footer-wrapper position-absolute w-100">
    <div class="footer d-flex align-items-center w-100 gap-3 px-2">           
        <label for="">Follow Us:</label>
       <div class ="icons d-flex gap-3 position-relative">
            <a href="https://www.instagram.com/djneel_17/" class="icon icon--instagram d-flex justify-content-center align-items-center">
                <img class="instagram-logo position-absolute" src="../../assets/images/instagram.png" height="16" width="16" alt="">
                <i class="ri-instagram-line"></i>
            </a>
            <a href="https://www.facebook.com/deejayneel07/" class="icon icon--facebook d-flex justify-content-center align-items-center">
                <img class=" facebook-logo position-absolute" src="../../assets/images/facebook.png" height="18" width="18" alt="">
                <i class="ri-facebook-line"></i>
            </a>
            <a href="https://api.whatsapp.com/send/?phone=919624824802&text&type=phone_number&app_absent=0" class="icon icon--whatsapp d-flex justify-content-center align-items-center">
                <img class=" whatsapp-logo position-absolute" src="../../assets/images/whatsapp-removebg-preview.png" height="21" width="21" alt="">
                <i class="ri-whatsapp-line"></i>
            </a>
        </div>
    </div>
</div>    
