.page{
  background-color: rgb(10, 10, 48);
}
.header-meet{
    color: rgb(255, 255, 255);
}
.about-content{
  color: white;
}
.dj-profile{
  height: 210px;
  background-color: rgb(24, 16, 43);
  margin-bottom: 2rem;
  .dj-image{
    width: 150px;
    height: 150px;
    text-decoration: none;
    font-size: 26px;
    border-radius: 100px;
    outline: 2px solid #a89c9c;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: .25s;  
    .neel-image{
      border-radius: 50%;
    }
  }
}
.info{
  top: 380px;
  border-radius: 13px;
  font-weight: 400;
  font-size: 1rem;
  border: 0cm;
  left: 22%;
} 
.title{
  // position: absolute;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 80px;
    opacity: 0;
    color: #fff;
    
}   

.description{
   // background-color: beige;
    height: 195px;
    width: 500px;
    top: 42%;
    right: 10%;
}