<app-header></app-header>
<div class="header-meet d-flex align-items-center flex-column mt-5 gap-3">
    <h2>Worry Less, Dance More</h2>
    <h4>Meet Our Djs Team</h4>
</div>
<div class="dj-profile w-100 d-flex mt-3 gap-4 px-3 justify-content-center">
    <div class ="dj-image d-flex position-relative justify-content-center align-items-center mt-3">
            <img class="neel-image position-absolute" src="../../assets/images/dj-neel.jpeg" height="140" width="140" alt="">
            <i class="ri-dj-line"></i>         
    </div>
   
    <div class ="dj-image d-flex position-relative justify-content-center align-items-center mt-3">
        <img class="neel-image position-absolute" src="../../assets/images/dj-neel.jpeg" height="140" width="140" alt="">
        <i class="ri-dj-line"></i>
</div>
<div class ="dj-image d-flex position-relative justify-content-center align-items-center mt-3">
    <img [src] = "image"  class="neel-image position-absolute"alt=""  height="140" width="140">
    <i class="ri-dj-line"></i>   
</div>
<div class ="dj-image d-flex position-relative justify-content-center align-items-center mt-3">
    <img class="neel-image position-absolute" src="../../assets/images/dj-neel.jpeg" height="140" width="140" alt="">
    <i class="ri-dj-line"></i>   
</div>
</div>
<button (click)="getInfoFromDjDataService()" class="info position-absolute d-flex flex-row">Click Here</button>
<span class="list-dj">{{neelInfo}}</span>
<app-footer></app-footer>   