<app-header></app-header>
<!-- <div class="service-wrapper gap-3">
    <img class="hide-image" src="../../assets/images/private-party-1.jpg" height="400" width="400" alt="">
    <img class="hide-image" src="../../assets/images/private-party-2.jpg" height="400" width="400" alt="">
</div>
<div class="heading">
    <h2>Private Parties</h2>
</div>
<div class="service-wrapper gap-3">
    <img class="hide-image" src="../../assets/images/private-party-1.jpg" height="400" width="400" alt="">
    <img class="hide-image" src="../../assets/images/private-party-2.jpg" height="400" width="400" alt="">
</div>
<div class="heading">
    <h2>Birthday party</h2>
</div>
<div class="service-wrapper gap-3">
    <img class="hide-image" src="../../assets/images/private-party-1.jpg" height="400" width="400" alt="">
    <img class="hide-image" src="../../assets/images/private-party-2.jpg" height="400" width="400" alt="">
</div>
<div class="heading">
    <h2>Corporate event</h2>
</div>
<div class="service-wrapper gap-3">
    <img class="hide-image" src="../../assets/images/private-party-1.jpg" height="400" width="400" alt="">
    <img class="hide-image" src="../../assets/images/private-party-2.jpg" height="400" width="400" alt="">
</div>
<div class="heading">
    <h2>Marriage Functons</h2>
</div> -->
<div class="menu d-flex flex-column align-items-center mt-5 gap-3">
    <h2 class="private-party">Private party</h2>
    <img class="private-party-image" src="../../assets/images/private-party-1.jpg" height="200" width="200" alt="">
    <img class="private-party-image" src="../../assets/images/private-party-1.jpg" height="200" width="200" alt="">
    <img class="private-party-image" src="../../assets/images/private-party-1.jpg" height="200" width="200" alt="">
    <h2 class="b-day-party">Brithday party</h2>
    <img class="b-day-image" src="../../assets/images/b-day-image-2.jpg" height="200" width="200" alt="">
    <h2 class="corpo-event">Corporate Event</h2>
    <img class="corporate-image" src="../../assets/images/corporate-events.jpg" height="200" width="200" alt="">
    <h2 class="marriage-function">Marriage Functions</h2>
    <img class="marriage-image" src="../../assets/images/wedding-images.jpg" height="200" width="200" alt="">
    <div class="bg"></div>
</div>
<app-footer></app-footer>
    