<app-header></app-header>
<!-- <div class="service-wrapper gap-3">
    <img class="hide-image" src="../../assets/images/private-party-1.jpg" height="400" width="400" alt="">
    <img class="hide-image" src="../../assets/images/private-party-2.jpg" height="400" width="400" alt="">
</div>
<div class="heading">
    <h2>Private Parties</h2>
</div>
<div class="service-wrapper gap-3">
    <img class="hide-image" src="../../assets/images/private-party-1.jpg" height="400" width="400" alt="">
    <img class="hide-image" src="../../assets/images/private-party-2.jpg" height="400" width="400" alt="">
</div>
<div class="heading">
    <h2>Birthday party</h2>
</div>
<div class="service-wrapper gap-3">
    <img class="hide-image" src="../../assets/images/private-party-1.jpg" height="400" width="400" alt="">
    <img class="hide-image" src="../../assets/images/private-party-2.jpg" height="400" width="400" alt="">
</div>
<div class="heading">
    <h2>Corporate event</h2>
</div>
<div class="service-wrapper gap-3">
    <img class="hide-image" src="../../assets/images/private-party-1.jpg" height="400" width="400" alt="">
    <img class="hide-image" src="../../assets/images/private-party-2.jpg" height="400" width="400" alt="">
</div>
<div class="heading">
    <h2>Marriage Functons</h2>
</div> -->
<div class="menu d-flex flex-column align-items-center mt-5 gap-3">
    <h2 class="private-party mt-5">Private party</h2>
    <div class="private-party-image w-100 gap-3 px-3">
    <img src="../../assets/images/private-party-1.jpg" alt="">
    <img src="../../assets/images/private-party-1.jpg" alt="">
    <img src="../../assets/images/private-party-1.jpg" alt="">
    </div>
    <h2 class="b-day-party mt-5">Brithday party</h2>
    <div class="b-day-image w-100 gap-3 px-3 justify-content-center">
    <img src="../../assets/images/b-day-image-2.jpg"  alt="">
    <img src="../../assets/images/b-day-image-2.jpg"  alt="">
    <img src="../../assets/images/b-day-image-2.jpg"  alt="">
    </div>
    <h2 class="corpo-event mt-5">Corporate Event</h2>
    <div class="corporate-image gap-3 px-3">
    <img src="../../assets/images/corporate-events.jpg" height="400" width="400" alt="">
    <img src="../../assets/images/corporate-events.jpg" height="400" width="400" alt="">
    <img src="../../assets/images/corporate-events.jpg" height="400" width="400" alt="">
    </div>
    <h2 class="marriage-function mt-5">Marriage Functions</h2>
    <div class="marriage-image gap-3 px-3">
    <img  src="../../assets/images/wedding-images.jpg" height="400" width="400" alt="">
    <img  src="../../assets/images/wedding-images.jpg" height="400" width="400" alt="">
    <img  src="../../assets/images/wedding-images.jpg" height="400" width="400" alt="">
    </div>
    <div class="bg"></div>
</div>
<app-footer></app-footer>
    