<app-header></app-header>
<div class="front-image">
    <img class="w-100" src="../../assets/images/party1.jpg" alt="">
</div>
<div class="header-content justify-content-center align-items-center gap-2 d-flex flex-column w-100">
    <span>
    <label class="content" for="">KEEP ON DANCING</label>
    </span>
    <span>
        <label class="" for="">Lets Make it a Night to Remember</label>
    </span>
    <button class="consultation-button">Free Consultation</button>
</div>
<div class="info w-100">
    <div class="grid-item">
        <img src="../../assets/images/party.jpg" alt="">
    </div>
    <div class="grid-item">
        <h6>School Dances & Proms</h6>
        <button>Learn more</button>
    </div>
    <div class="grid-item">
        <img src="../../assets/images/party.jpg" alt="">
    </div>
    <div class="grid-item">
        <h6>Weddings</h6>
        <button>Learn more</button>
    </div>
    <div class="grid-item">
        <img src="../../assets/images/party.jpg" alt="">
    </div>
    <div class="grid-item">
        <h6>Corporate Events</h6>
        <button>Learn more</button>
    </div>
</div>
<div>
    <img class="w-100" height="200" src="../../assets/images/party-headphones-new-york.jpg" alt="">
</div>
<div class="justify-content-center align-items-center gap-2 d-flex flex-column w-100 mt-4">
    <h5>Keeping You Free While the Dance Floor Is Busy</h5>
    <button class="consultation-button">read more</button>
</div>
<div class="customer-review">
    <div class="justify-content-center align-items-center d-flex mt-4">
    <h4>What Our Client Say</h4>
    </div>
<div class="d-flex gap-3 mt-2 position-relative px-3">
    <div class=" rating-card">
        <img class="mt-2" src="../../assets/images/user-icon.png" height="30" width="30" alt="">
        <label class="customer-name mt-2" for="">Saloni Jain</label>
        <label class="review position-relative" for="">Thank you very much. I am glad that we got someone so professional.</label>
    </div>
    <div class=" rating-card">
        <img class="mt-2" src="../../assets/images/user-icon.png" height="30" width="30" alt="">
        <label class="customer-name mt-2" for="">Rupesh Patel</label>
        <label class="review position-relative" for="">Thank you very much. I am glad that we got someone so professional.</label>
    </div>
    <div class=" rating-card">
        <img class="mt-2" src="../../assets/images/user-icon.png" height="30" width="30" alt="">
        <label class="customer-name mt-2" for="">Kashif Siddiqui</label>
        <label class="review position-relative" for="">Thank you very much. I am glad that we got someone so professional.</label>
    </div>
    <div class=" rating-card">
        <img class="mt-2" src="../../assets/images/user-icon.png" height="30" width="30" alt="">
        <label class="customer-name mt-2" for="">Rajan Patel</label>
        <label class="review position-relative" for="">Thank you very much. I am glad that we got someone so professional.</label>
    </div>
</div>
</div>
<app-footer></app-footer>